<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ND.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ND6L.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="NDL6.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ND.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <userSettings>
    <ND.Properties.Settings>
      <setting name="SqlName" serializeAs="String">
        <value>server=.;database=db_ND10L;uid=sa;pwd=123</value>
      </setting>
      <setting name="SocketIp" serializeAs="String">
        <value>192.168.10.101</value>
      </setting>
      <setting name="Dbsql" serializeAs="String">
        <value>Data Source=192.168.10.188;Initial Catalog=rgvBaking6line;uid=root;pwd=root;</value>
      </setting>
    </ND.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <ND.Properties.Settings>
      <setting name="NDL10_ElectricCoreState_MiCheckSFCStatusServiceService"
        serializeAs="String">
        <value>http://ndmesd003.ATLbattery.com:50000/atlmeswebservice/MiCheckSFCStatusServiceService</value>
      </setting>
      <setting name="NDL10_BindingPallt_MiBindSFCintoTrayServiceService"
        serializeAs="String">
        <value>http://ndmesd003.ATLbattery.com:50000/atlmeswebservice/MiBindSFCintoTrayServiceService</value>
      </setting>
      <setting name="NDL10_CoreList_CellTestIntegrationServiceService"
        serializeAs="String">
        <value>http://ndmesd003.ATLbattery.com:50000/atlmeswebservice/CellTestIntegrationServiceService</value>
      </setting>
      <setting name="NDL10_ChargeNumber_MiDataCollectForProcessLotForEachServiceService"
        serializeAs="String">
        <value>http://ndmesd003.ATLbattery.com:50000/atlmeswebservice/MiDataCollectForProcessLotForEachServiceService1</value>
      </setting>
      <setting name="NDL10_PalletInspection_MiCheckProcessLotServiceService"
        serializeAs="String">
        <value>http://172.26.11.3:50000/atlmeswebservice/MiCheckProcessLotServiceService?wsdl</value>
      </setting>
      <setting name="NDL10_PattelCheck_MiCheckProcessLotServiceService"
        serializeAs="String">
        <value>http://ndmesd003.ATLbattery.com:50000/atlmeswebservice/MiCheckProcessLotServiceService</value>
      </setting>
    </ND.Properties.Settings>
  </applicationSettings>
</configuration>

